
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: titillium web, sans-serif;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    background-color: black;
    width: 100%;
}

.logo{
   width: 50%;
}

.sociais{
    width: 50%;
}
.logo{
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    width: 80%;
}

.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 40px;
    font-size: 18px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #FF2500, #ff7100);
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
}

.sociais button{
    width: 40px;
    height: 40px; 
    background-image: linear-gradient(45deg, #FF2500, #ff7100);
    border: none;
    margin-right: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.sociais button i{
    font-size: 20px;
    color: white;
}